*{
    margin: 0;
    padding: 0;
}   

.menuForPhone {
    visibility: hidden;
}







@media screen and (max-width: 600px){
    .menuForPhone {
        visibility: visible;
    }
    .nav_respon {
        display: flex;
        justify-content: space-between;
        background: #636e72;
        color: #dfe6e9;
    }
    .nav_chil {
        background: #2d3436;
        transition: 0.4s;
        transform: translateX(1000px);
        z-index: -999;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav_chil.show {
        transform: translateX(0px);
    }
    .nav_chil ul li {
        color: #fff;
        list-style-type: none;
        padding: 5px;
        font-weight: 500;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }

}


@media screen and (min-width:600px) and (max-width: 992px){
    .menuForPhone {
        visibility: visible;
    }
    .nav_respon {
        display: flex;
        justify-content: space-between;
        background: #636e72;
        color: #dfe6e9;
    }
    .nav_chil {
        background: #2d3436;
        transition: 0.4s;
        transform: translateX(1000px);
        z-index: -999;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav_chil.show {
        transform: translateX(0px);
    }
    .nav_chil ul li {
        color: #fff;
        list-style-type: none;
        padding: 5px;
        font-weight: 500;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

}