*{
    margin: 0;
    padding: 0;
}   

/* #094973 */

body {
    font-family: 'Literata', serif;
}

.menuForPhone {
    visibility: hidden;
}

.menu {
    transition: 0.5s;
    box-shadow: 0px 3px 7px 0px;
}

.avatar img {
    border-radius: 50%; 
    border: 1px solid #0361a2;
    height: 80px;
    width: 80px;
    transition: 0.5s;
    margin: auto;
}
.avatar img.effect-img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.nav-desktop {
    display: flex;
    justify-content: space-around;
    color: white;
    background: #3498db;
    transition: 0.5s;
}
.nav-desktop.effect-menu {
    background: #094973;
}

.nav-center ul li {
    display: inline-block;
    list-style-type: none;
    margin: 20px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
}
.nav-center ul li.effect-list{
    margin: 10px;
}

.nav-right ul li{
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
    color: white;
    font-size: 30px;
    transition: 0.5s;
}
.nav-right ul li.effect-list{
    margin: 0px;
}

.nav-right ul li a {
    color: white;
    margin-right: 30px; 
}

._4 {
    background-image: url('../media/coding-a-background-animation.png');
    background-attachment: fixed;
}

._5{
    background: #80808030;
}

.thongtin {
    border: 1px solid #0361a2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    font-size: 18px;
}

.thongtin ul li {
    list-style-type: none;
}

.thongtin ul li i{
    font-size: 25px;
    color: #225d86;
}

.backtotop {
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.backtotop.show{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 600px){
    .menuForPhone {
        visibility: visible;
    }
    .nav_respon {
        display: flex;
        justify-content: space-between;
        background: #3498db;
        color: #dfe6e9;
    }
    .nav_chil {
        background:#225d86;
        transition: 0.4s;
        transform: translateX(1000px);
        z-index: -999;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav_chil.show {
        transform: translateX(0px);
    }
    .nav_chil ul li {
        color: #fff;
        list-style-type: none;
        padding: 5px;
        font-weight: 500;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10%;
        text-transform: uppercase;
    }
    .menu {
        display: none;
    }

    ._4{
        margin-top: 50px;
    }

}


@media screen and (min-width:600px) and (max-width: 992px){
    .menuForPhone {
        visibility: visible;
    }
    .nav_respon {
        display: flex;
        justify-content: space-between;
        background: #3498db;
        color: #dfe6e9;
    }
    .nav_chil {
        background: #225d86;
        transition: 0.4s;
        transform: translateX(1000px);
        z-index: -999;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav_chil.show {
        transform: translateX(0px);
    }
    .nav_chil ul li {
        color: #fff;
        list-style-type: none;
        padding: 5px;
        font-weight: 500;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        text-transform: uppercase;
    }
    .menu {
        display: none;
    }
    ._4{
        margin-top: 50px;
    }

}