._3 section {
  height: 90vh;
  background: #000;
}

@media (max-width: 992px) {
  ._3 section {
    display: none;
  }
}

._3 section video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 90vh;
}

._3 section h1 {
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ddd;
  font-size: 5em;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 40%;
  left: 0;
}

._3 section h1 span {
  display: inline-block;
  opacity: 0;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
}

._3 section h1 span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

._3 section h1 span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

._3 section h1 span:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

._3 section h1 span:nth-child(4) {
  -webkit-animation-delay: 2.75s;
          animation-delay: 2.75s;
}

._3 section h1 span:nth-child(5) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

._3 section h1 span:nth-child(6) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

._3 section h1 span:nth-child(7) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

._3 section h1 span:nth-child(8) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

._3 section h1 span:nth-child(9) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

._3 section h3 {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 45px;
  -webkit-animation: going 2s linear forwards;
          animation: going 2s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  opacity: 0;
}

._3 section .cv {
  position: absolute;
  top: 63%;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  -webkit-animation: going 2.2s linear forwards;
          animation: going 2.2s linear forwards;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
  opacity: 0;
}

@-webkit-keyframes going {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes going {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
/*# sourceMappingURL=header.css.map */